{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content=" initial-scale=1.0">


    <!-- css -->
    <link rel="stylesheet" href="{% static 'css/mdb.min.css' %}" />
    <title>
        CAT | {% block title %} {% endblock %}
    </title> 
    
</head>
<body style="
    background: linear-gradient(to top right, #33ccff 0%, #ff99cc 100%) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;" >

    <div >
    {% block body %}
    
    {% endblock %}
    </div>
    <!--scripts -->
    <script src="{% static 'js/mdb.min.js' %}"></script>
    <script src="{% static 'js/jQuery.js' %}"></script>
    {% block script %}
    
    {% endblock %}

</body>
</html>