{% extends 'base.html' %}

{% block title %}
    Home
{% endblock title %}


{% block body %}




<section class="">
      <div class="container-fluid ">
        <div class="row d-flex justify-content-center align-items-center p-2">
          <div class="card mt-2 p-2 col-md-8 col-lg-6 col-xl-4 offset-xl-1">
            <form action="{% url 'fetch_marks' %}" method="post">
            {% csrf_token %}
              <div class="divider d-flex align-items-center my-4">
                <p class="text-center h3 fw-bold mx-3 mb-0">Select Criteria</p>
              </div>
              <div class="row">
                <!-- Semester input -->
                <div class="form col-md-6">
                  <label class="form-label" for="semester"
                    >Select Semester</label
                  >
                  <select
                    name="semester"
                    id="semester"
                    class="form-control"
                    required
                  >
                    <option value="">Select</option>
                    {% for i in data.semester %}
                    <option value="{{ i.semester }}">{{ i.semester }}</option>
                    {% endfor %}
                  </select>
                </div>

                <!-- Cat input -->
                <div class="form col-md-6 ms-auto mb-3">
                  <label class="form-label" for="cat">Select CAT/ESE</label>
                  <select name="cat" id="cat" class="form-control" required>
                    <option value="">Select</option>
                    {% for i in data.cat %}
                    <option value="{{ i.cat }}">{{ i.cat }}</option>
                    {% endfor %}
                  </select>
                </div>
                <div
                  class="
                    text-center text-lg-start
                    
                    pt-2
                    d-flex
                    justify-content-center
                  "
                >
                  <button type="submit" class="btn btn-primary btn-lg">
                    Fetch
                  </button>
                </div>
              </div>
            </form>
            <p class="text-center">{{ Data }}</p>
          </div>
        </div>
      </div>
    </section>
    {% if error %}
    <div class="container-fluid ">
      <div class="row d-flex justify-content-center align-items-center mt-3">
        <div class=" col-md-8 col-lg-6 col-xl-4 offset-xl-1 col-sm-10 table-responsive-sm">
          <p class="alert alert-danger text-center p-1">{{ error }}</p>
        </div>
      </div>
    </div>
    {% endif %}
    <section class=" {{ show }}">
        <div class="container-fluid ">
            <div class="row d-flex justify-content-center align-items-center mt-3">
              <div class=" col-md-8 col-lg-6 col-xl-4 offset-xl-1 col-sm-10 table-responsive-sm">
          
            <table class="bg-white table table-hover" id="marks" border="2" class="">
              <thead >
                <tr class="">
                  <th colspan="3" scope="col" >
                      <div class="row">
                            <div class="col text-end">
                                Name :
                            </div>
                            <div class="col fw-bold">{{ name.name }}</div>
                      </div>
                      <div class="row">
                        <div class="col text-end">
                            Roll Number :
                        </div>
                        <div class="col fw-bold">{{ roll_number }}</div>
                      </div>
                      <div class="row">
                        <div class="col text-end">
                            Semester :
                        </div>
                        <div class="col fw-bold">{{ semester.semester }}</div>
                      </div>
                      <div class="row">
                        <div class="col text-end">
                            EXAM :
                        </div>
                        <div class="col fw-bold">{{ exam }}</div>
                      </div>

                    </th>
                </tr>
                <tr class="table-dark text-center">
                  <th scope="col">Subject Name</th>
                  <th scope="col">Mark</th>
                  <th scope="col">Remarks</th>
                </tr>
              </thead>
              <tbody>
              {% for sub,mark in sub_marks.items %}
                <tr class="text-center">
                  <th scope="row ">{{ sub }}</th>
                  <td class="fw-bold">{{ mark.0 }}</td>
                  <td name="{{ mark.1 }}">{{ mark.1 }}</td>
                </tr>
              {% endfor %}
              {% if not exam == "End Semester Examination"  %}
                  <tr class="text-center h5 fw-bold text-success" >
                    <td colspan="3">
                        Attendance : <span>{{ attendance }}</span>
                    </td>
                  </tr>
              {% else %}

              {% if gpa == " ---" %} 
                  <tr class="text-center h5 fw-bold text-danger " >
              {% else %} 
                  <tr class="text-center h5 fw-bold text-success " >
              {% endif %}
                    <td colspan="3">
                        GPA : <span>{{ gpa }}</span>
                    </td>
                  </tr>
              {% if cgpa == " ---" %} 
                  <tr class="text-center h5 fw-bold text-danger " >
              {% else %} 
                  <tr class="text-center h5 fw-bold text-success " >
              {% endif %}
                    <td colspan="3">
                        CGPA : <span>{{ cgpa }}</span>
                    </td>
                  </tr>
              {% endif %}
                  
                
              </tbody>
                </div>
            </div>  
        </div>
      </table>
    </section>

{% endblock body %}

{% block script %}
<script type="text/javascript">
    var myTabs = document.getElementsByName('Pass');
    myTabs.forEach(element => element.setAttribute("class","fw-bold text-success"));
    
    myTabs = document.getElementsByName('Fail');
    myTabs.forEach(element => element.setAttribute("class","fw-bold text-danger"));
    
</script>
{% endblock script %}