{% extends 'base.html' %}

{% block title %} upload {% endblock title %} 

{% block body %}


{% include "navbar.html" %}

<div class="container">

  <button
    type="button"
    class="btn btn-primary m-3"
    data-mdb-toggle="modal"
    data-mdb-target="#mark_modal"
  >
    upload mark list
  </button>
  <section class="">
    <div class="container-fluid ">
      <div class="row d-flex justify-content-center align-items-center p-2">
        <div class="card mt-2 p-2 col-md-8 col-lg-7 col-xl-6 offset-xl-1">
          <form action="{% url 'staff' %}" method="post">
          {% csrf_token %}
          <input type="hidden" name="file_type" value="marks" >
            <div class="divider d-flex align-items-center my-4">
              <p class="text-center h3 fw-bold mx-3 mb-0">Select Criteria to display marks</p>
            </div>
            <div class="row">
              <!-- Semester input -->
              <div class="form col-md-6">
                <label class="form-label" for="semester"
                  >Select Semester</label
                >
                <select
                  name="semester"
                  id="semester"
                  class="form-control"
                  required
                >
                  <option value="">Select</option>
                  {% for i in data.semester %}
                  <option value="{{ i.semester }}">{{ i.semester }}</option>
                  {% endfor %}
                </select>
              </div>

              <!-- Cat input -->
              <div class="form col-md-6 ms-auto mb-3">
                <label class="form-label" for="cat">Select CAT/ESE</label>
                <select name="cat" id="cat" class="form-control" required>
                  <option value="">Select</option>
                  {% for i in data.cat %}
                  <option value="{{ i.cat }}">{{ i.cat }}</option>
                  {% endfor %}
                </select>
              </div>
              <div
                class="
                  text-center text-lg-start
                  
                  pt-2
                  d-flex
                  justify-content-center
                "
              >
                <button type="submit" class="btn btn-primary btn-lg">
                  Fetch
                </button>
              </div>
            </div>
          </form>
          <p class="text-center">{{ Data }}</p>
        </div>
      </div>
    </div>
  </section>
  {% if error == "Invalid Excel Format" %}
  <div class=" ">
    <div class="row mt-3">
      <div class=" col-md-8 col-lg-6 col-xl-6 offset-xl-1 col-sm-10 ">
        <p class="alert alert-danger text-center p-1">{{ error }}</p>
      </div>
    </div>
  </div>
  {% elif error == False %}

  {% else %}
  <div class=" ">
    <div class="row mt-3">
      <div class=" col-md-8 col-lg-6 col-xl-6 offset-xl-1 col-sm-10 ">
        <p class="alert alert-success text-center p-1">{{ error }}</p>
      </div>
    </div>
  </div>
  {% endif %}
  <div
    class="modal fade"
    id="mark_modal"
    tabindex="-1"
    aria-labelledby="mark_modal_title"
    aria-hidden="true"
  >
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="mark_modal_title">Upload Mark List</h5>
          <button
            type="button"
            class="btn-close"
            data-mdb-dismiss="modal"
            aria-label="Close"
          ></button>
        </div>
        <div class="modal-body">
          <form action="{% url 'staff' %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <input type="hidden" name="file_type" value="mark" >
            
              <label class="form-label mt-2 fw-bold" for="semester"
              >Select Semester</label
            >
            <select name="semester" id="semester" class="form-control" required>
              
              <option value="">Select</option>
              <option value="1">1</option>
              <option value="2">2</option>
              <option value="3">3</option>
              <option value="4">4</option>
              <option value="5">5</option>
              <option value="6">6</option>
              <option value="7">7</option>
              <option value="8">8</option>
              <option value="9">9</option>
              <option value="10">10</option>
            </select>

            <label class="form-label mt-2 fw-bold" for="cat"
            >Select CAT</label
          >
            <select name="cat" id="cat" class="form-control" required>
              <option value="">Select</option>
              <option value="1">1</option>
              <option value="2">2</option>
              <option value="3">3</option>
              <option value="End Semester Exam">End Semester Exam</option>
              
            </select>

            <label class="form-label mt-2 fw-bold" for="customFile"
              >Upload Mark</label
            >

            <input type="file" accept=".xls,.xlsx" class="form-control" name="mark_file" id="customFile" required/>

            <div class="m-2">
              <input type="submit" value="submit" class="btn btn-primary" />
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

  <div class="mt-3 card p-3 mb-4">
    <div  style="overflow-x: auto;">
    <table id="table" class="table table-borderless ">
      <thead class="">
        <th class="text-center ">Roll Number</th>
        <th class="text-center ">Name</th>
        {% for subject in subjects %}
        <th class="text-center ">{{ subject.subject_name }}</th>
        {% endfor %}
      </thead>
      <tbody>
        {% for key,value in marks.items %}
        <tr class="text-center ">
          <td class="">{{ key }}</td>  
          <td class="">{{ value.0.1 }}</td>  
          {% for i,j in value.1.items %}
          
          <td class="">{{ j }}</td>  

          {% endfor %}
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
  </div>
<script>
  $(document).ready(function() {
    $('#table').DataTable( {
        dom: 'Bfrtip',
        buttons: [
          'csv', 'excel', 'pdf', 'print'
        ]
    } );
} );
</script>
</div>

{% endblock body %}
